<?xml version="1.0" encoding="utf-8"?>
<!--
/******************************************************************************
 * Copyright 2017 The Baidu Authors. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *****************************************************************************/
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.carlifevehicle"
    android:versionCode="15"
    android:versionName="3.0.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.baidu.carlifevehicle.CarLifeApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="false"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.baidu.carlifevehicle.BaseActivity"
            android:label="@string/title_activity_base"
            android:parentActivityName="android.support.v4.app.FragmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity
            android:name="com.baidu.carlifevehicle.CarlifeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="navigation|orientation|screenSize|keyboard|keyboardHidden|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.baidu.carlifevehicle.audioplayer.MediaButtonReceiver"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.carlifevehicle.connect.AOAAccessoryReceiver"
        android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <action android:name="com.baidu.carlifevehicle.connect.USB_PERMISSION" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </receiver>
        <receiver android:name="com.baidu.carlifevehicle.broadcast.BroadcastActionReceiver"
        android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <action android:name="com.baidu.carlifevehicle.broadcast.EXIT_APP" />
            </intent-filter>
        </receiver>

        <service android:name="com.baidu.carlifevehicle.connect.ConnectService" />
        <service android:name="com.baidu.carlifevehicle.service.RecordService" />

    </application>

</manifest>